@{
    ViewBag.Title = "Index";
}

<h4>Katalog książek</h4>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<div style="margin: 10px;">
    <nav>
        <ul class="nav nav-tabs nav-justified navMyAjax">
            <li>
                @Ajax.ActionLink("Wszystkie", "GetResourceData", new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", LoadingElementId = "loadingPanel", UpdateTargetId = "dataView" })
            </li>
            <li>
                @Ajax.ActionLink("Audiobooki", "GetResourceData", new { category = 1 }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", LoadingElementId = "loadingPanel", UpdateTargetId = "dataView" })
            </li>
            <li>
                @Ajax.ActionLink("E-booki", "GetResourceData", new { category = 2 }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", LoadingElementId = "loadingPanel", UpdateTargetId = "dataView" })
            </li>
            <li>
                @Ajax.ActionLink("Nowości", "GetResourceData", new { category = 3 }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", LoadingElementId = "loadingPanel", UpdateTargetId = "dataView" })
            </li>
            <li>
                @Ajax.ActionLink("Zapowiedzi", "GetResourceData", new { category = 4 }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", LoadingElementId = "loadingPanel", UpdateTargetId = "dataView" })
            </li>
            <li>
                @Ajax.ActionLink("Super okazje", "GetResourceData", new { category = 5 }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", LoadingElementId = "loadingPanel", UpdateTargetId = "dataView" })
            </li>
        </ul>
    </nav>
    <div id="loadingPanel" class="text-center">
        <img src="../../Content/ajax-loader.gif">
    </div>
    <div id="dataViewAddToCart" style="position:absolute; background-color: white; width:auto; left: 34%;"></div>

    <div id="dataView">

    </div>
</div>


@section scripts{

    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

}
