@{
    ViewBag.Title = "Index";
}

<h4>Katalog książek</h4>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<div style="margin: 10px;">
    <nav>
        <ul class="nav nav-tabs nav-justified">
            <li>
                @Ajax.ActionLink("Wszystkie", "GetResourceData", new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", LoadingElementId = "loadingPanel", UpdateTargetId = "dataView" })
            </li>
            <li>
                @Ajax.ActionLink("Audiobooki", "GetResourceData", new { category = 1 }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", LoadingElementId = "loadingPanel", UpdateTargetId = "dataView" })
            </li>
            <li>
                @Ajax.ActionLink("E-booki", "GetResourceData", new { category = 2 }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", LoadingElementId = "loadingPanel", UpdateTargetId = "dataView" })
            </li>
        </ul>
    </nav>
    <div id="loadingPanel">
        <img src="../../Content/ajax-loader.gif">
    </div>
    <div id="dataView">

    </div>
</div>


@section scripts{

    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

}
